@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  height: 100dvh;
  background-color: var(--background-main);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.decorative-line {
  @apply before:absolute before:-bottom-4 before:left-[15px] before:top-0 before:w-[2px] before:bg-label-quaternary before:content-[''];
}
